version: 0.2

phases:
  install:
    commands:
      # Install kubectl
      - curl -O https://s3.us-west-2.amazonaws.com/amazon-eks/1.30.0/2024-05-12/bin/linux/amd64/kubectl
      - chmod +x ./kubectl
      - mv ./kubectl /usr/local/bin/
      # Install Helm
      - curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
      - chmod 700 get_helm.sh
      - ./get_helm.sh
  pre_build:
    commands:
      - echo Logging in to Amazon ECR...
      - ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
      - REGISTRY_URL="$ACCOUNT_ID.dkr.ecr.$AWS_DEFAULT_REGION.amazonaws.com"
      - aws ecr get-login-password --region $AWS_DEFAULT_REGION | docker login --username AWS --password-stdin $REGISTRY_URL
  build:
    commands:
      - echo Build started on `date`
      - echo Building Backend...
      - cd app/backend
      - docker build -t $REGISTRY_URL/lab-backend:3.11-slim .
      - echo Building Frontend...
      - cd ../frontend
      - docker build -t $REGISTRY_URL/lab-frontend:3.11-slim .
  post_build:
    commands:
      - echo Build completed on `date`
      - echo Pushing the Docker images...
      - docker push $REGISTRY_URL/lab-backend:3.11-slim
      - docker push $REGISTRY_URL/lab-frontend:3.11-slim
      - echo Updating kubeconfig...
      - aws eks update-kubeconfig --name $CLUSTER_NAME --region $AWS_DEFAULT_REGION
      - echo Deploying to EKS...
      - cd ../../helm
      # Upgrade Helm release ensuring specific tags are used
      - helm upgrade lab-app . --set backend.image=$REGISTRY_URL/lab-backend:3.11-slim --set frontend.image=$REGISTRY_URL/lab-frontend:3.11-slim --reuse-values